[submodule "tools/closure-library"]
	path = tools/closure-library
	url = https://code.google.com/p/closure-library/
[submodule "tools/closure-compiler"]
	path = tools/closure-compiler
	url = https://github.com/mlippert/brixcompiler.git
